.featuredCta {
  width: 100%;
  display: flex;

  .featuredCta__content {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    text-align: center;

    @media (max-width: 768px) {
      padding-top: unset;
    }
  }

  img {
    width: 100%;
  }
}