.toggle-button {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  justify-content: space-around;
  flex-wrap: nowrap;
  border: none;
  padding: 0;
  display: none;

  .toggle-button__span {
    position: relative;
    width: 4rem;
    height: 2px;
    background-color: var(--text-secondary);
  }
}