.shop {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 3rem;
  padding-top: 4rem;
  margin-inline: 4rem;

  .shop__product {
    position: relative;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    .shop__product__hover__image {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;
      transition: opacity .2s;
    }

    &:hover {
      .shop__product__hover__image {
      opacity: 1;
      }
      .shop__product__button {
        opacity: 1;
      }
    }
  }
  .shop__product__content {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: unset;
    }

    .shop__product__button {
      position: absolute;
      right: 0;
      opacity: 0;
      z-index: 1;
    }
  }
}